// Eww colors for Cristina rice
$bg: #1f1d29;
$bg-alt: #272433;
$fg: #eaeaea;
$black: #6f6e85;
$lightblack: #262831;
$red: #ea6f91;
$blue: #34738e;
$cyan: #eabbb9;
$magenta: #c3a5e6;
$green: #9bced7;
$yellow: #f1ca93;
$archicon: #0f94d2;
